.s_wrap{
    position:absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: #3283AC url(../images/login_bg.jpg) no-repeat center;
}
.s_loginBox{
    position: absolute;
    width: 617px;
    height:60%;
    background: url(../images/loginform_bg.png) no-repeat;
    left: 50%;
    top: 50%;
    margin-left: -309px;
    margin-top: -184px;
    padding-top: 38px;
}
.s_row{
    width:60%;
    height:40px;
    margin-left:20%;
    float:left;
    margin-bottom:20px;
}
.s_row1{
    margin-top:30px;
}
.s_login_user{
    font-size:30px;
    margin-top:5px;
    color:#eee;
    opacity: 0.7;
    float:left;
}
.s_login_username{
    width:80%;
    height:40px;
    background:#fff;
    font-size:12px;
    text-indent:6px;
    float:right;
}
.s_login_pin{
    width:35%;
    height:40px;
    text-indent:6px;
    background:#fff;
    font-size:12px;
    margin-left:74px;
}
.s_login_btn{
    border:0;
    background:rgba(255, 255, 255, 0.0);
}
.s_login_btn:hover{
    color:blue;
    text-decoration:underline;
}
.s_loginbtn{
    background-color:#3bb3e0;
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    outline: none;
    border:none;
    position: relative;
    /*left: 40%;*/
    color:#fff;
    padding:10px 20px;
    padding-right:50px;
    margin:0px 36% 20px 36%;
    background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(44,160,202)),
            color-stop(1, rgb(62,184,229))
    );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.s_loginbtn:active {
    top:3px;
    background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0, rgb(62,184,229)),
            color-stop(1, rgb(44,160,202))
    );
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}
.s_loginbtn::before {
    background-color:#2591b4;
    background-image:url(../images/webwxgetmsgimg.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    content:"";
    width:20px;
    height:20px;
    position:absolute;
    right:15px;
    top:50%;
    margin-top:-9px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
    -moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
    -o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
    box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}
.s_row a{
    margin-left:23%;
}